.datas {
  padding-left: 95px;
  display: flex;
  gap: 4em;
}

@media screen and (max-width: 1024px) {
  .datas {
    margin-left: 50px;
    padding-left: 50px;
  }
  .right {
    margin-left: 0px;
  }

}

.left {
  width: 60%;
}
.bottom {
  margin-top: 40px;
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 1536px) {
  .bottom {
    margin-top: 20px;
  }
}

.right {
  width: 40%;
  max-width: 270px;
}

.nutrientCards {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: space-between;
}