.main {
  padding-left: 115px;
  margin: 50px;
}

.top {
  margin-bottom: 20px;
}

.button {
  display: inline-block;
  padding: 1rem 2rem;
  margin: 0 10px;
  background-color: #020203;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  transition: all .25s ease;
}

.button:hover {
  transform: scale(0.95);
  background-color: var(--color-primary);
}