header {
  margin-bottom: 77px;
}
h1 {
  font-weight: 500;
  font-size: 48px;
  margin-bottom: 41px;
}
strong {
  font-weight: inherit;
  color: var(--color-primary);
}

h2 {
  font-weight: 400;
  font-size: 18px;
}

main {
  display: grid;
  gap: 24px 2.07vw;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "activity activity activity nutrients"
    "sessions performance score nutrients";
}

.nutrientCards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: "nutrients";
}
